<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.agricultrue.jxc.mapper.JxcbuyMapper">

  <select id="list" resultType="com.ruoyi.project.agricultrue.jxc.pojo.Jxcbuy">
      SELECT * FROM jxcbuy limit #{pageIndex},#{pageSize}
  </select>

 <select id="conditionlSel" resultType="com.ruoyi.project.agricultrue.jxc.pojo.Jxcbuy">
      select * from jxcbuy where concat(id,supplier,receiptsCode,goodInfo,receiptsdate,receiptslongdate,operator,total,tax,discount,typeId) like '%${value}%' limit #{pageIndex},#{pageSize}
  </select>

    <select id="conditionlSelCount" resultType="int">
        select count(*) from jxcbuy where concat(id,supplier,receiptsCode,goodInfo,receiptsdate,receiptslongdate,operator,total,tax,discount,typeId) like '%${value}%'
    </select></mapper>