<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.agricultrue.pde.mapper.PdedeptMapper">

  <select id="list" resultType="com.ruoyi.project.agricultrue.pde.pojo.Pdedept">
      SELECT * FROM pdedept limit #{pageIndex},#{pageSize}
  </select>

 <select id="conditionlSel" resultType="com.ruoyi.project.agricultrue.pde.pojo.Pdedept">
      select * from pdedept where concat(id,dept,pdeName,content,goodNum,badNum,hours,exreason,pdeTime) like '%${value}%' limit #{pageIndex},#{pageSize}
  </select>

    <select id="conditionlSelCount" resultType="int">
        select count(*) from pdedept where concat(id,dept,pdeName,content,goodNum,badNum,hours,exreason,pdeTime) like '%${value}%'
    </select></mapper>