<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.agricultrue.pde.mapper.PdeorderMapper">

  <select id="list" resultType="com.ruoyi.project.agricultrue.pde.pojo.Pdeorder">
      SELECT * FROM pdeorder limit #{pageIndex},#{pageSize}
  </select>

 <select id="conditionlSel" resultType="com.ruoyi.project.agricultrue.pde.pojo.Pdeorder">
      select * from pdeorder where concat(id,customer,orderNo,productname,goodsNum,finishTime) like '%${value}%' limit #{pageIndex},#{pageSize}
  </select>

    <select id="conditionlSelCount" resultType="int">
        select count(*) from pdeorder where concat(id,customer,orderNo,productname,goodsNum,finishTime) like '%${value}%'
    </select></mapper>