<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.agricultrue.sev.mapper.SevannounceMapper">

  <select id="list" resultType="com.ruoyi.project.agricultrue.sev.pojo.Sevannounce">
      SELECT * FROM sevannounce order by id desc limit #{pageIndex},#{pageSize}
  </select>

 <select id="conditionlSel" resultType="com.ruoyi.project.agricultrue.sev.pojo.Sevannounce">
      select * from sevannounce where concat(id,title,content,publishTime) like '%${value}%' limit #{pageIndex},#{pageSize}
  </select>

    <select id="conditionlSelCount" resultType="int">
        select count(*) from sevannounce where concat(id,title,content,publishTime) like '%${value}%'
    </select></mapper>