<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.agricultrue.cp.mapper.CppriseMapper">

    <select id="list" resultType="com.ruoyi.project.agricultrue.cp.pojo.Cpprise">
      SELECT * FROM cpprise order by id desc  limit #{pageIndex},#{pageSize}
  </select>

    <select id="conditionlSel" resultType="com.ruoyi.project.agricultrue.cp.pojo.Cpprise">
      select * from cpprise where concat(id,code,name,dept,prise,dayTime,deptId,leadercode) like '%${value}%' limit #{pageIndex},#{pageSize}
  </select>

    <select id="conditionlSelCount" resultType="int">
        select count(*) from cpprise where concat(id,code,name,dept,prise,dayTime,deptId,leadercode) like '%${value}%'
    </select>

    <select id="selectByCodeDayTime" resultType="com.ruoyi.project.agricultrue.cp.pojo.Cpprise">
        select * from cpprise where code=#{code} and dayTime=#{dayTime}
    </select>

    <select id="selectMyCprise" resultType="com.ruoyi.project.agricultrue.cp.pojo.Cpprise">
        select * from cpprise where code=#{loginName} order by id desc  limit #{pageIndex},#{pageSize}
    </select>

    <select id="selectMyCpriseCount" resultType="int">
        select count(id) from cpprise where code=#{loginName}
    </select>

</mapper>