<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.agricultrue.cp.mapper.CpsalesMapper">

  <select id="list" resultType="com.ruoyi.project.agricultrue.cp.pojo.Cpsales">
      SELECT * FROM cpsales order by id desc  limit #{pageIndex},#{pageSize}
  </select>

 <select id="conditionlSel" resultType="com.ruoyi.project.agricultrue.cp.pojo.Cpsales">
      select * from cpsales where concat(id,customer,receiptsCode,goodInfo,receiptsdate,operator,total) like '%${value}%' limit #{pageIndex},#{pageSize}
  </select>

    <select id="conditionlSelCount" resultType="int">
        select count(*) from cpsales where concat(id,customer,receiptsCode,goodInfo,receiptsdate,operator,total) like '%${value}%'
    </select></mapper>