<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/addForm.css">
</head>
<body>
<fieldset class="layui-elem-field layui-field-title">
    <legend>列表</legend>
</fieldset>
<div class="demoTable">
    <div class="layui-inline">
        <input class="layui-input" placeholder="输入关键字搜索：" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<table class="layui-hide" id="demo" lay-filter="test"></table>
<script src="/layui/layui.all.js"></script>
<script src="/layui/jquery-3.3.1.js"></script>

<script type="text/javascript">
    let layer;
    let table;
    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form'], function () {
        let laydate = layui.laydate //日期
            , layer = layui.layer //弹层
            , table = layui.table; //表格
        let form = layui.form;
        table.render({
            elem: '#demo'
            , url: '/cpattendance/list' //数据接口
            , method: 'get'
            , id: 'allAltTable'
            , request: {
                pageName: 'pageIndex'
                , limitName: 'pageSize'
            }
            , title: '列表'
            , page: true //开启分页
            , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: false //开启合计行
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: '编号', hide: true}
                    , {field: 'code', title: '工号'}
                    , {field: 'name', title: '姓名'}
                    , {field: 'dept', title: '所在部门'}
                    , {field: 'realTime', title: '打卡时间'}
                    , {field: 'dayTime', title: '考勤日期'}
                    , {
                    field: 'delay', title: '是否迟到',templet: function (d) {
                        if (d.delay==="未迟到"){
                            return  '<div><span>未迟到</div></div>';
                        } else {
                            return  '<div><span style="color: red">迟到</div></div>';
                        }
                    }
                }
                    , {field: 'deptId', title: '部门id', hide: true}
                    , {field: 'leadercode', title: '部门经理编号', hide: true}
                    , {fixed: 'right', title: '操作', align: ' ', toolbar: '#barDemo'}
                ]
            ]
            , done: function () {//设置某列隐藏
                $("[data-field='typeId']").css('display', 'none');
            }
        });
        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');
                //执行重载
                table.reload('allAltTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    url: "/cpattendance/conditionlSel?value=" + demoReload.val()
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>

</body>
</html>
